artists index
<ul>
<% @artists.each do |a| %>
    <li><%= link_to a.name, artist_path(a)  %></li>
    <p><%= a.songs.count %> songs</p>
    <ul>
      <% a.songs.each do |song| %>
      <li><%= song.title %></li>
      <% end %>
    </ul>
<% end %>
</ul>
